<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get file</title>
</head>
<body>
    <form action="/upload-file" enctype="multipart/form-data" method="get">
        <div class="form-group">
            <img src="<%- `/uploads/${filename}` -%>">
        </div>
      </form>
</body>
</html>