<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload file</title>
</head>
<body>
    <form class="w-50 mx-auto" action="/upload-file" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <input class="form-control" type="file" name="upload" required>
        </div>
        <button class="btn btn-primary">Upload</button>
    </form>
</body>
</html>